<table class="table is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Título</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @charlas.each do |c| %>
      <tr>
        <td></td>
        <td><%= c.fecha_corta %></td>
        <td><%= c.hora_inicio_display %></td>
        <td><%= c.titulo %></td>
        <td><%= link_to 'editar', edit_charla_path(c) %></td>
      </tr>
    <% end %>
  </tbody>
</table>